<div class="menu-p">
  <div class="menu-pe menu-1" onclick="menuS1()" id="menuS11">
    Portátiles y Tablets
  </div>
  <div class="menu-pe menu-1" onclick="menuS2()" id="menuS22">
    PC/Componentes y TPV
  </div>
  <div class="menu-pe menu-1" onclick="menuS3()" id="menuS33">
    Periféricos
  </div>
  <div class="menu-pe menu-1" onclick="menuS4()" id="menuS44">
    Smartphone y Telefonía
  </div>
  <div class="menu-pe menu-1" onclick="menuS5()" id="menuS55">
    Almacenamiento
  </div>
  <div class="menu-pe menu-1" onclick="menuS6()" id="menuS66">
    Consumibles
  </div>
  <div class="menu-pe menu-1" onclick="menuS7()" id="menuS77">
    Redes
  </div>
  <div class="menu-pe menu-1" onclick="menuS8()" id="menuS88">
    Software
  </div>
  <div class="menu-pe menu-1" onclick="menuS9()" id="menuS99">
    Seguridad
  </div>
  <div class="menu-pe menu-1" onclick="menuS10()" id="menuS100">
    Iluminación, Ocio y Hogar
  </div>
  <div class="menu-pe menu-1" onclick="menuS11()" id="menuS1110">
    Imagen y Sonido
  </div>
</div>

<div class="submenu menuS1" id="menuS1">

  <table>
    <thead>
      <td> <b>Accesorios Limpieza</b> </td>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Limpieza Ordenador</a> </td>
      </tr>
      <tr>
        <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Limpieza Monitor</a> </td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <td><b>Accesorios Portátil </b> </td>
    </thead>

    <tbody>
      <tr>
        <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Cables y Accesorios</a></td>
      </tr>
      <tr>
        <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Cargador para Portátil</a></td>
      </tr>
      <tr>
        <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Dispositivos USB</a></td>
      <tr>
        <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Fundas y Carcasas para portátil</a></td>
      </tr>
      <tr>
        <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Refrigeración para Portátil</a></td>
      </tr>
      <tr>
        <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Bolsas Transporte</a></td>
      </tr>
      <tr>
        <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Accesorios Tablet e iPad</a></td>
      </tr>
    </tbody>
  </table>




  <table>
    <thead>
      <td> <b>Portátiles</b> </td>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Tablet</a> </td>
      </tr>
      <tr>
        <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Semiensamblado</a> </td>
      </tr>
      <tr>
        <td><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;Portátiles</a> </td>
      </tr>
    </tbody>

  </table>

</div>

<div class="submenu2  menuS1" id="menuS2">
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Accesorios Limpieza</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Limpieza Ordenador</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Limpieza Monitor</a> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Accesorios PC y TPV</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Extension Garantía PC</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Cajón portamonedas</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Visores para TPV</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Cables y Accesorios PC</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Panel Lector Tarjetas</a> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Almacenamiento interno</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Discos magnéticos</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Discos sólidos</a> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Audio</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Tarjetas sonido</a> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Cajas y fuentes</a> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Fuentes 300..400W</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Fuentes 400..600W</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Fuentes desde 600W</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Minitorre y Microtorre</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Semitorre y Miditorre</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Fuentes hasta 300W</a> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Controladoras</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Tarjetas Controladoras</a> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Memorias</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Memorias DDR3</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Memorias DDR4</a> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Micros y ventiladores</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Micros AMD AM4</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Micros Intel Socket 1151</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Micros Intel Socket 1200</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Refrigeración</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Micros Intel Socket 3647</a> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>PC y TPV</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;PC de sobremesa</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;TPV</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Semiensamblados</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Todo en uno</a> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Placas base</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;AMD socket AM3+</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;AMD socket AM4</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Intel socket 1151</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Intel socket 1155</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Intel Socket 1200</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Intel socket 1150</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;AMD socket FM2+</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;CPU integrada</a> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Tarjetas gráficas</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;PCI Express DDR3</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;PCI Express DDR4</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;PCI Express DDR5</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;PCI Express DDR6</a> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Unidades ópticas PC</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Regrabadoras DVD</a> </td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <td> <b>Servidores</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Servidores Rack</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Servidores Torre</a> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="submenu3 menuS1" id="menuS3">
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Accesorios Gaming</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Soportes y Controladoras Gaming</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Mandos Juegos Acción Consola</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Mesas Gaming</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Sillas</a> </td>
        </tr>

      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Accesorios Imagen y Sonido</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Accesorios Televisión/Monitor</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Conmutador Vídeo y Cables</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Cable/Conector Imagen/Sonido</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Pilas y Cargadores</a> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Accesorios Impresora/Escaner</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Accesorios Escaner</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Accesorios Impresora</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Cables Impresora/Escáner</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Extensión Garantía Impresora</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Conmutadores y Cables</a> </td>
        </tr>


      </tbody>
    </table>
  </div>
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Accesorios SAI</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Accesorios SAI</a> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Digitalizadores</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Lápices Digitales</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Tabletas</a> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Escaners</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Lectores billetes</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Lectores código barras</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Sobremesa</a> </td>
        </tr>

      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Lectores tarjetas</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Lector tarjetas chip</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Lector tarjetas flash</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Lector tarjetas magnéticas</a> </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Máquinas oficina</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Destructoras papel</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Plastificadoras</a> </td>
        </tr>

      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Monitores</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;TFT/Táctil desde 17"</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;TFT/Táctil hasta 15"</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Monitor LED</a> </td>
        </tr>


      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Multifunción</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Multifunción inyección sin fax</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Multifunción inyección con fax</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Multifunción láser sin fax</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Multifunción láser con fax</a> </td>
        </tr>


      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Sistemas alimentación</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;SAI interactivo</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;SAI on line</a> </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Teclados y ratones</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Teclados USB</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Teclados PS/2</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Ratones con cable</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Teclado más ratón</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Ratones inalámbricos</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Teclados Inalámbricos</a> </td>
        </tr>


      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Unidades ópticas externas</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Regrabadoras DVD externas</a> </td>
        </tr>
      </tbody>
    </table>


    <table>
      <thead>
        <td> <b>Accesorios Proyectores</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Accesorios Proyector/Pantalla</a> </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Vídeo</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Cámaras web</a> </td>
        </tr>

      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Almacenamiento externo</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Discos duros externos</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Lápiz USB</a> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Impresoras</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Impresoras sublimación</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Impresoras térmicas</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Impresoras inyección</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Impresoras láser monocromo</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Impresoras matriciales</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Impresoras laser Color</a> </td>
        </tr>
      <tbody>
    </table>


  </div>
</div>

<div class="submenu4 menuS1" id="menuS4">

  <div class="part-1">
    <table>
      <thead>
        <td> <b>Accesorios Telefonía</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Cargadores</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Fundas y Carcasas para Telefonía</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Protectores pantalla</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp; Baterías</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Smartwatches</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Gadgets y expositores</a> </td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <td> <b>Telefonia IP</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Accesorios Telefonía IP</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp; Centralitas IP</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp; GateWay</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Teléfonos IP</a> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Telefonía y fax</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Inalámbricos DECT</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp; Móviles</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Móviles SemiNuevos</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Teléfonos Fijos</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Walkie-Talkie</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Faxes</a> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="submenu5 menuS1" id="menuS5">
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Almacenamiento interno</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Discos magnéticos</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Discos sólidos</a> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Lectores tarjetas</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Lector tarjetas chip</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Lector tarjetas flash</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Lector tarjetas magnéticas</a> </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Tarjetas memoria</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Secure Digital</a> </td>
        </tr>

      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Unidades ópticas externas</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Regrabadoras DVD externas</a> </td>
        </tr>


      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Unidades ópticas PC</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Regrabadoras DVD</a> </td>
        </tr>


        </ tbody>
    </table>

  </div>
  <div class="part-1">

    <table>
      <thead>
        <td> <b>Accesorios Almacenamiento</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Cajas Externas/Extraibles HD</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp; Extensiones de Garantía</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Fundas Discos Duros Externo</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp; Licencias</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Cajas Externas Multimedia</a> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Almacenamiento en red</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Almacenamiento Armario</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Almacenamiento Sobremesa</a> </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Almacenamiento externo</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Discos duros externos</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Lápiz USB</a> </td>
        </tr>
      <tbody>
    </table>
    <table>
      <thead>
        <td> <b>CD/DVD/BLU-RAY</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;CD-R/RW</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;DVD R/RW</a> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="submenu6 menuS1" id="menuS6">
  <div class="part-1">
    <table>
      <thead>
        <td> <b>Consumibles Impresión</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Cintas</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Toner original</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Bobinas</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Cartuchos tinta original</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Tambor/Fotoconductor</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Papel</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Cartuchos tinta reciclado</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Toner compatible</a> </td>
        </tr>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Cartuchos tinta compatible</a> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>CD/DVD/BLU-RAY</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;CD-R/RW</a></td>
        </tr>

        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;DVD R/RW</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="part-1">
    <table>
      <thead>
        <td> <b>Máquinas Oficina</b> </td>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">&nbsp; &nbsp;&nbsp;&nbsp;Fundas Plastificar</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <td> <b>Protección Personal </b></td>
      </thead>
    </table>

  </div>
</div>

<div class="submenu7 menuS1" id="menuS7">
</div>

  <div class="submenu8 menuS1" id="menuS8">
  </div>

  <div class="submenu9 menuS1" id="menuS9">
  </div>

  <div class="submenu10 menuS1" id="menuS10">
  </div>

  <div class="submenu11 menuS1" id="menuS11">
  </div>

  <style media="screen">
    .part-1 {
      width: 250px;
      float: left;
    }

    .submenu {
      top: 50px;
      width: 97.6%;
      height: auto;
      background-color: #fafafa;
      border: 1px solid #A4A2A2;
      position: absolute;
      z-index: 100;
      display: none;
    }

    .submenu table {
      float: left;
      width: 270px;
      margin-bottom: 25px;
      font-size: 12px;
      border: 1px solid #fafafa;
    }

    .submenu tr {
      border: 1px solid #fafafa;
    }

    .submenu tbody {
      width: 100px;
    }


    .menu-p {
      width: 100%;
      height: 50px;
      overflow: hidden;
      text-align: center;
      background-color: #F4F4F4;
      border: 1px solid #A4A2A2;
      margin-bottom: 40px;
    }

    .menu-pe {
      width: 9.09%;
      height: 50px;
      position: relative;
      float: left;
      font-size: 14px;
    }

    .menu-pe:hover {
      background-color: #E7E7E7;
    }

    .submenu {
      line-height: 130%;
      overflow: hidden;
    }

    .submenu p {
      float: left;
      margin-top: 20px;
      margin-left: 40px;
    }

    .submenu2 {
      top: 50px;
      width: 97.6%;
      height: auto;
      background-color: #fafafa;
      border: 1px solid #A4A2A2;
      position: absolute;
      z-index: 100;
      display: none;
    }

    .submenu2 table {
      width: 200px;
      margin-bottom: 25px;
      font-size: 12px;
      height: auto;
    }

    .submenu2 tr {
      border: 1px solid #fafafa;
    }

    .submenu3 {
      top: 50px;
      width: 97.6%;
      height: auto;
      background-color: #fafafa;
      border: 1px solid #A4A2A2;
      position: absolute;
      z-index: 100;
      display: none;
    }

    .submenu3 table {
      width: 230px;
      margin-bottom: 25px;
      font-size: 12px;
      height: auto;
    }

    .submenu3 tr {
      border: 1px solid #fafafa;
    }

    .submenu4 {
      top: 50px;
      width: 97.6%;
      height: auto;
      background-color: #fafafa;
      border: 1px solid #A4A2A2;
      position: absolute;
      z-index: 100;
      display: none;
    }

    .submenu4 table {
      width: 230px;
      margin-bottom: 25px;
      font-size: 12px;
      height: auto;
    }

    .submenu4 tr {
      border: 1px solid #fafafa;
    }

    .submenu5 {
      top: 50px;
      width: 97.6%;
      height: auto;
      background-color: #fafafa;
      border: 1px solid #A4A2A2;
      position: absolute;
      z-index: 100;
      display: none;
    }

    .submenu5 table {
      width: 230px;
      margin-bottom: 25px;
      font-size: 12px;
      height: auto;
    }

    .submenu5 tr {
      border: 1px solid #fafafa;
    }

    .submenu6 {
      top: 50px;
      width: 97.6%;
      height: auto;
      background-color: #fafafa;
      border: 1px solid #A4A2A2;
      position: absolute;
      z-index: 100;
      display: none;
    }

    .submenu6 table {
      width: 230px;
      margin-bottom: 25px;
      font-size: 12px;
      height: auto;
    }

    .submenu6 tr {
      border: 1px solid #fafafa;
    }

    .submenu7 {
      top: 50px;
      width: 97.6%;
      height: auto;
      background-color: #fafafa;
      border: 1px solid #A4A2A2;
      position: absolute;
      z-index: 100;
      display: none;
    }

    .submenu7 table {
      width: 230px;
      margin-bottom: 25px;
      font-size: 12px;
      height: auto;
    }

    .submenu7 tr {
      border: 1px solid #fafafa;
    }
  </style>
